.board {
    position: relative;
    height: 80vh;
    border: 1px dashed #ddd;
    margin-top: 20px;
    border-radius: 10px;
}

.note {
    background: #cde77f;
    border: 1px solid #9aa76a;
    cursor: grab;
    user-select: none;
}

.note:active {
    cursor: grabbing;
}

button {
    background: #ff8c42;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
    outline: none;
}

button:hover {
    background: #ff7a26;
}

button:active {
    transform: scale(0.97);
}